*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body{
	background-color: #FDF9EC;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin: 0;
	padding-bottom: 10rem;
	min-height: 100%;
}

header{
	width: 100%;
	height: 30vh;
	background-image: url('../imagens/cabecalho.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header h1{
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	color: #F4D56C;
	text-shadow: 2px 2px #000;
}

header h2{
	color: #738D9C;
}

nav{
	width: 100%;
	background-color: #FDF9EC;
	padding: 5px;
}

.ul-nav{
	width: 75%;
	background-color: #AAC6F5;
	font-family: 'Oswald', sans-serif;
	color: #000;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 5px;
	/*margin-top: 10px;
	margin-bottom: 10px; media queries*/
	border-radius: 15px;
	text-transform: uppercase;
}

.ul-nav li{
	padding: 1px 25px; /*colocar esse padding em media queries*/
	/*padding: 1px 50px;*/
}

.ul-nav li:hover{
	background-color: #4293C1;
	color: #F4D56C;
	border-radius: 15px;
	cursor: pointer;
}

.ul-nav a{
	color: inherit;
	text-decoration: none;
}

.section-corpo, .section-comentario{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #D4E2FA;
	padding: 25px;
}

.section-painel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section-acao{
	width: 40%;
	font-family: 'Oswald', sans-serif;
	background-color: #4293C1;
    text-decoration: none;
	padding: 25px;
	margin: 10px;
	border-radius: 15px;
}

.section-acao:hover, .submit-postar:hover, .section-acao-gerenciar:hover, .submit-comentario:hover, .a-cadastro:hover{
    color: #F4D56C;
    text-decoration: none;
    cursor: pointer;
}

.input-logout, .section-acao-gerenciar, .h1-titulo > a, .section-acao > a, .a-cadastro{
	all: unset;
}

.article-post, .section-painel, .section-comentar{
	background-color: #AAC6F5;
	padding: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
}

.h1-titulo{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: #F4D56C;
	line-height: 1;
	text-shadow: 2px 2px #000;
	margin-bottom: 15px;    
}

.h1-titulo:hover{
	cursor: pointer;
}

.h2-detalhes{
	font-family: 'Oswald', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

.article-post > p{
	padding: 5px;
}

.form-postagem{
	font-family: 'Oswald', sans-serif;
	background-color: #AAC6F5;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 25px;
}

.input-titulo{
	border-radius: 15px;
}

.input-postagem{
	width: 100%;
	height: 25rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-radius: 15px;
	margin-bottom: 25px;
	resize: none;
}

.submit-postar{
	border: none;
	width: 40%;
	font-family: 'Oswald', sans-serif;
	background-color: #4293C1;
	align-self: center;
	padding: 25px;
	margin: 10px;
	border-radius: 15px;
}

.article-comentario{
	margin-bottom: 25px;
}

.section-comentario > h1{
	font-size: 1.2em;
	margin-bottom: 25px;
}

.form-comentar{
	display: flex;
	flex-direction: column;
}

.input-comentario{
	width: 100%;
	height: 5rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
	border-radius: 15px;
	resize: none;
}

.submit-comentario{
	border: none;
	width: 40%;
	font-family: 'Oswald', sans-serif;
	background-color: #4293C1;
	align-self: center;
	padding: 10px;
	border-radius: 15px;
}

footer{
	background-color: #AAC6F5;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

.select-postagem{
	width: 100%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #4293C1;
	background-color: #FDF9EC;
	border-radius: 15px;
}

.section-gerenciar{
	display: flex;
        justify-content: center;
        align-items: center;
}

.section-acao-gerenciar{
	width: 15vw;
	font-family: 'Oswald', sans-serif;
	background-color: #4293C1;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.section-acao-gerenciar:last-child{
	margin-left: 15px;
}

.input-geral:focus{
    border-color: #4293C1;
    border-width: 2.5px;
    outline: 0 none;
}

.janela-modal{
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	/*display: none;*/
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.janela-modal:target{
	opacity: 1;
	/*display: initial;*/
	pointer-events: auto;
}

.janela-modal > div{
	width: 50%;
	position: relative;
	margin: 25% auto; /*50% media queries*/
	padding: 5px 20px 13px 20px;
	border-radius: 15px;
	background-color: #AAC6F5;
        
}

.a-cadastro{
    color: #4293C1;
    font-weight: bold;
}

.form-login{
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-login input[type=text], .form-login input[type=password], .form-login input[type=email]{
    padding: 10px;
    background-color: #FDF9EC;
    border: 2px solid #4293C1;
    border-radius: 15px;
    outline: none;
    width: 100%;
}

.form-login input[type=submit]{
	padding: 10px;
	background-color: #4293C1;
	border: none;
	outline: none;
	border-radius: 15px;
	cursor: pointer;
	font-weight: bold;
}


.form-login input[type=submit]:hover{
	color: #F4D56C;
}

.fechar{
	background: #4293C1;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 15px;
}

.fechar:hover{
	color: #F4D56C;
}